
  <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background: rgb(52,58,64);">
    <div class="container">
      <ng-container *ngIf="auth.isLoggedIn() | async; else elseTemplate">
        <a class="navbar-brand" [routerLink]="['/environments']" style="color: rgb(255,255,255);">DATA FILTER</a>
      </ng-container>
      <ng-template #elseTemplate>
        <a class="navbar-brand" [routerLink]="['/']" style="color: rgb(255,255,255);">DATA FILTER</a>
      </ng-template>
      
      <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1" style="border-radius: 21px;">
        <span class="sr-only" >Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"></li>
                <li class="nav-item"></li>
            </ul><span class="navbar-text actions">
              <a *ngIf="!(auth.isLoggedIn() | async)" class="login" href="/about-us" style="color: rgb(255,255,255);">¿Quiénes Somos?</a>
              <a *ngIf="!(auth.isLoggedIn() | async)" class="login" href="#" style="color: rgb(255,255,255);">Contáctenos</a>
              <a *ngIf="!(auth.isLoggedIn() | async)" class="login" href="/register" style="color: rgb(255,255,255);">Registro</a>
              <a *ngIf="!(auth.isLoggedIn() | async)" class="login" href="/login" style="color: rgb(255,255,255);">Iniciar sesión</a></span>
              <div  *ngIf="auth.isLoggedIn() | async" class="login" style="color: rgb(255,255,255); margin-right: 15px;">
                <a> {{auth.getNameUser()}} {{auth.getSurnameUser()}}</a>
              </div>
            <div *ngIf="auth.isLoggedIn() | async" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="color: rgb(255,255,255);"><img class="rounded-circle" style="width: 30px;height: 30px;" src={{auth.getImg()}}></a>
                <div
                    class="dropdown-menu">
                    <a class="dropdown-item" [routerLink]="['/profile']">Perfil</a>
                    <a class="dropdown-item" [routerLink]="['/']" (click)="auth.logout()">Salir</a></div>
                </div>
            </div>
        </div>
</nav>