<app-navbar></app-navbar>

<div class="container container-fluid m-6">
    <br>
    <div class="row">
        <div class="col-6"><img class="img-fluid" src="https://cdn.pixabay.com/photo/2015/01/08/18/27/startup-593341_960_720.jpg" alt="" width="100%"></div>
        <div class="col-6">
            <h3 class="display-4 mt-5">¿ Qué es Data Filter ?</h3>
            <p class="lead">Data Filter es un aplicativo web para que cualquier empresario o líder de un negocio pueda tener un sistema confiable y seguro para almacenar los datos de aquellos componentes de computación que llegan a recibir un debido mantenimiento.</p>
        </div>
    </div>
    <hr class="mt-4 mb-4">
    <div class="row">
        <div class="col-6">
            <h3 class="display-4 mt-3">¿ Qué servicios ofrecemos ?</h3>
            <p class="lead">Con Data Filter podrás tener un entorno de trabajo seguro para almacenar aquellos datos que considere convenientes a la hora de administrar su negocio de mantenimiento, ya si eres un administrador de la empresa, deberás crear tu propio entorno de trabajo e invitar a tus colaboradores para que te apoyen en este.</p>
        </div>
        <div class="col-6"><img class="img-fluid" src="https://cdn.pixabay.com/photo/2016/06/03/13/57/digital-marketing-1433427_960_720.jpg" alt=""  width="100%"></div>
    </div>
    <hr class="mt-4 mb-4">
    <div class="row">
        <div class="col-6"><img class="img-fluid" src="https://cdn.pixabay.com/photo/2018/03/27/21/43/startup-3267505_960_720.jpg" alt="" width="100%"></div>
        <div class="col-6">
            <h3 class="display-4 mt-5">Acerca de Data Filter</h3>
            <p class="lead">Data Filter es un proyecto creado por CODEGROUP con la idea de solucionar un problema en común a los empresarios que trabajan en la parte de mantenimientos a computadores de mesa, laptops, impresoras u otros subcomponentes de computación.</p>
        </div>
    </div>
</div><br>

<app-footer></app-footer>
