<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="row mh-100vh">
      <div class="col-lg-6 d-flex align-items-end" id="bg-block" style="background: url('https://image.freepik.com/foto-gratis/marketing-digital-empresario-tableta-digital-documentos-sobre-fondo-escritorio-oficina_2034-1650.jpg') center center / cover;">
          <p class="ml-auto small text-dark mb-2"><a class="text-dark" href="https://unsplash.com/photos/v0zVmWULYTg?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank"></a></p>
      </div>
      <div class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0" id="login-block">
          <header></header>
          <div class="m-auto w-lg-75 w-xl-50">
              <h2 class="text-info font-weight-light mb-5" style="text-align: center;">&nbsp;Recuperación de contraseña</h2>
              <form style="text-align: left;" [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="form-group" style="border-radius: 26px;">
                    <label class="text-secondary" >Nueva contraseña</label>
                    <input formControlName="password" class="form-control" type="password"  style="border-radius: 26px;">
                    <small *ngIf="password.invalid && (password.dirty || password.touched)" style="color: red;">Debe tener mínimo 8 caracteres</small>
                    <small *ngIf="password.valid && (password.dirty || password.touched)" style="color: green;">Cumple con los requisitos</small>
                  </div>
                    <div class="form-group" style="border-radius: 26px;">
                      <label class="text-secondary">Repita la contraseña</label>
                      <input formControlName="validatepassword" class="form-control" type="password"  style="border-radius: 26px;">
                      <small *ngIf="validatepassword.invalid && (validatepassword.dirty || validatepassword.touched)" style="color: red;">Debe tener mínimo 8 caracteres</small>
                      <small *ngIf="validatepassword.valid && (validatepassword.dirty || validatepassword.touched)" style="color: green;">Cumple con los requisitos</small>  
                    </div>
                      <div></div>
                      <button *ngIf="spinner" class="btn btn-info mt-2" type="submit" style="text-align: right;">Recuperar</button></form>
                      <div *ngIf="!spinner" class="spinner-border text-primary" role="status">
                        <span class="sr-only">Cargando...</span>
                  </div>
                </div>
            <div>
            </div>
          <header></header>
      </div>
  </div>
</div>

<app-footer></app-footer>
