<app-navbar></app-navbar>

<div class="container-fluid" *ngIf="data == 0">
  <div class="row mh-100vh">
      <div class="col-lg-6 d-flex align-items-end" id="bg-block" style="background: url('https://cdn.pixabay.com/photo/2014/08/26/21/27/service-428540_960_720.jpg') center center / cover;">
          <p class="ml-auto small text-dark mb-2"><a class="text-dark" href="https://unsplash.com/photos/v0zVmWULYTg?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" target="_blank"></a></p>
      </div>
      <div class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0" id="login-block">
          <header></header>
          <div class="m-auto w-lg-75 w-xl-50">
              <h2 class="text-info font-weight-light mb-5" style="text-align: center;">&nbsp;Consultar</h2>
              <form style="text-align: left;" [formGroup]='form' (ngSubmit)='consult()'>
                  <div class="form-group" style="border-radius: 26px;">
                    <label class="text-secondary">Ingrese su documento de identidad</label>
                    <input class="form-control" type="number" formControlName='identification'  style="border-radius: 26px;">
                  </div>
                  <button *ngIf="spinner" class="btn btn-info mt-2" type="submit" style="text-align: right;">Consultar</button></form>
                  <div *ngIf="!spinner" class="spinner-border text-primary" role="status">
                    <span class="sr-only">Cargando...</span>
                  </div>
          </div>
          <div></div>
          <header></header>
      </div>
  </div>
</div>

<app-consult-client [data]='data' *ngIf="data != 0"></app-consult-client>


